extends adminbar.pug

block prepend adminbar-links
  if board.features.catalog
    span.button.button_link
      a(href='/' + board.uri + '/' + config.catalog_filename) Catalog
  if board.features.archive
    span.button.button_link
      a(href='/' + board.uri + '/arch/res') Archive
block adminbar-beforeend
  if board.navbar
    nav.menu.menu_additional.menu_top!= filters.markdown(board.navbar)
block adminbar-afterend
  h1.logo= board.name
  if board.header
    div.board-header
      div.board-header__content!= filters.markdown(board.header)
