include mixins/reflink.pug


if (success && success.length)
  | Successfully changed:
  if success[0].ref
    ul.list_unmarked
      for item in success
        if (item.ref)
          +reflink(item.ref)
  else
    |  #[strong= success.length] item(s)

if (fail && fail.length)
  | Not changed:
  ul.list_unmarked
    for item in fail
      if (item.ref)
        +reflink(item.ref)
      else if (item.target)
        +reflink(item.target)
        if (item.status === 204)
          |  (Nothing to change)
        else if (item.error)
          |  (#{ item.error.message })
