dialog.modal.dispose.modal-wait
  div.modal-dialog
    div.loader
      svg.circular-loader(viewBox="25 25 50 50")
        circle.loader-path(cx="50", cy="50", r="20", fill="none", stroke="#70c542", stroke-width="2")
