include mixins/icons.pug

div.reply-container
  div.postarea.postarea_quick-reply
    div.postarea__header
      span.postarea__header__title
      span.postarea__header__buttons
        a.js-toggle-postform.button(href='#') #[+icon('times', 'small')]
