@charset "UTF-8";
@font-face {
  font-family: 'Mona';
  src: local("Mona"), url("/.static/fonts/Mona.eot");
  src: url("/.static/fonts/Mona.eot?#iefix") format("embedded-opentype"), url("/.static/fonts/mona.ttf") format("truetype"), url("/.static/fonts/Mona.woff2") format("woff2"), url("/.static/fonts/Mona.woff") format("woff"), url("/.static/fonts/Mona.svg#Mona") format("svg");
  font-weight: normal;
  font-style: normal; }

blockquote blockquote {
  margin-left: 0em; }

form {
  margin-bottom: 0px; }

.nothumb {
  float: left;
  text-align: center;
  padding: 14px;
  margin: 0 20px 2px 20px;
  border: 3px dashed; }

.reflink a {
  color: inherit;
  text-decoration: none; }

.reflink a:hover {
  color: #800000; }

.userdelete {
  float: right;
  text-align: center;
  white-space: nowrap; }

.pagelist {
  max-width: 600px; }

.admin {
  color: #800080;
  font-weight: normal; }

.mod {
  color: #FF0000;
  font-weight: normal; }

.vip {
  color: #336600;
  font-weight: normal; }

.reflinkpreview {
  position: absolute;
  padding: 5px;
  background-color: #F0E0D6;
  border: 1px dotted #000000; }

.catalogtable {
  text-align: center; }

.pgstbl table {
  border: 1px solid; }

.thrdcntnr {
  border-bottom: 1px solid;
  padding: 5px 0 15px 0;
  display: block;
  min-height: 210px; }

span [id*="unhidethread"] {
  border-bottom: 1px solid; }

.highlight {
  width: auto;
  display: table;
  margin-top: 4px;
  min-width: 380px; }

.catalogthread {
  vertical-align: top;
  word-wrap: break-word;
  overflow: hidden;
  display: inline-block;
  padding: 4px;
  width: 210px;
  max-height: 350px;
  min-height: 200px;
  margin-top: 5px;
  position: relative; }

.catalogthread a {
  text-decoration: none; }

.cataloglist {
  padding: 20px 0px;
  text-align: center;
  border-bottom: 1px solid; }

.closed {
  text-decoration: line-through; }

.sticked {
  border: 1px dotted; }

.inline-pp, .prettyprint {
  white-space: pre-wrap; }

.threadlinksbottom {
  text-align: right; }

.sound {
  float: left;
  padding-right: 20px;
  padding-bottom: 2px; }

.extrabtns {
  vertical-align: middle;
  margin: 0 0.3rem;
  display: inline-flex; }
  .extrabtns :not(:first-child) {
    margin-left: 0.2rem; }

.post-btn-hide {
  background: transparent url("/.static/img/icons.png") -32px -16px no-repeat; }

.post-hidden .post-btn-hide, .post-btn-unhide {
  background: transparent url("/.static/img/icons.png") -48px 0px no-repeat; }

.post-btn-fav {
  background: transparent url("/.static/img/icons.png") -32px 0px no-repeat; }

.post-btn-expthr {
  background: transparent url("/.static/img/icons.png") 0px -16px no-repeat; }

.post-btn-rep {
  background: transparent url("/.static/img/icons.png") 0px 0px no-repeat; }

.fav-panel-btn-close {
  background: transparent url("/.static/img/icons.png") -48px -16px no-repeat; }

.fav-panel-btn-refresh {
  background: transparent url("/.static/img/icons.png") -16px -16px no-repeat; }

.fav-panel-btn-restore {
  background: transparent url("/.static/img/icons.png") -16px 0px no-repeat; }

.post-icon-sage:after {
  content: '⬇️';
  color: red; }

.post-icon-sticky {
  background: transparent url("/.static/img/sticky.gif") 0 0 no-repeat; }

.post-icon, .post-btn {
  display: inline-block;
  width: 16px;
  height: 16px; }

.post-icon {
  cursor: help; }

.post-btn {
  cursor: pointer; }

.attachment {
  margin: 0; }

.thumb-container {
  float: left;
  padding: 2px 20px;
  position: relative; }

.thumb-video-playing .file-info-duration, .thumb-video-playing .thumb {
  display: none; }

.thumb-video-playing .thumb-link::before {
  content: '[close]';
  display: block; }

.thumb, .video-player {
  max-width: 100%;
  height: auto; }

.thumb[src*="/src/"] {
  height: auto; }

.filesize {
  display: inline;
  font-size: 10px;
  font-family: sans-serif;
  margin-left: 20px; }
  .filesize::after {
    content: ' ';
    display: block;
    clear: left; }

.file-info-duration {
  position: absolute;
  right: 25px;
  bottom: 10px;
  color: #fff;
  background: rgba(0, 0, 0, 0.8);
  font-family: sans-serif;
  font-size: 12px;
  padding: 2px;
  border-radius: 2px; }

@media print {
  .extrabtns, input, .postarea, .section-wrapper, .link-button-wrapper,
  .filesize, .userdelete, .pagelist, .clickreplytoview {
    display: none; }
  .thread-container {
    column-count: 2; }
  .reply-container {
    clear: both; }
  .reply-container::before {
    display: none; }
  .postbody {
    margin: 0.3rem; }
  .reply {
    width: 100%;
    border: none !important; }
  .post-header {
    font-size: 0.7rem; } }

.postbody {
  word-wrap: break-word; }

.code-aa {
  font-family: 'Mona', 'Ume P Gothic', 'MS PGothic', "ＭＳ Ｐゴシック", sans-serif;
  display: block;
  font-size: 12pt;
  line-height: 1.1;
  overflow: auto; }

.code-multiline, .code-aa {
  white-space: pre-wrap; }

.reply .extrabtns::after {
  content: "#" counter(thr-cnt);
  counter-increment: thr-cnt 1;
  color: #707070;
  margin-left: 10px;
  font-size: 13px; }

.reply-container {
  margin-top: 4px;
  display: flex;
  flex-direction: row; }
  .reply-container .reply {
    min-width: 380px; }
  .reply-container::before {
    content: '>>';
    margin-right: 4px; }

.reply .post-board-link, .board-page .post-board-link, .thread-page .post-board-link {
  display: none; }

.post-board-link {
  margin: 0 3px 0 3px; }
  .post-board-link::before {
    content: '/'; }
  .post-board-link::after {
    content: '/'; }

.post-delete-checkbox {
  margin: 0 3px 0 3px; }

.postform .trap, .delform .trap {
  display: none; }

.postform input[type=text], .postform input[type=password], .postform textarea, .delform input[type=text], .delform input[type=password], .delform textarea {
  margin: 0px;
  margin-right: 2px;
  padding: 2px 4px 3px 4px;
  outline: none;
  font-size: 10pt; }

.postform input[type="text"], .postform input[type="password"], .postform textarea, .delform input[type="text"], .delform input[type="password"], .delform textarea {
  border: 1px solid #AAA; }

.postarea {
  text-align: center;
  border-top: 1px solid;
  border-bottom: 1px solid;
  padding-top: 4px;
  padding-bottom: 4px;
  margin-bottom: 4px; }

.postarea table {
  margin: 0 auto;
  text-align: left; }

.loader {
  width: 200px;
  height: 200px; }

.circular-loader {
  animation: rotate 2s linear infinite;
  height: 100%;
  transform-origin: center center;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  margin: auto; }

.loader-path {
  stroke-dasharray: 150,200;
  stroke-dashoffset: -10;
  animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
  stroke-linecap: round; }

@keyframes rotate {
  100% {
    transform: rotate(360deg); } }

@keyframes dash {
  0% {
    stroke-dasharray: 1,200;
    stroke-dashoffset: 0; }
  50% {
    stroke-dasharray: 89,200;
    stroke-dashoffset: -35; }
  100% {
    stroke-dasharray: 89,200;
    stroke-dashoffset: -124; } }

@keyframes color {
  0% {
    stroke: #70c542; }
  40% {
    stroke: #70c542; }
  66% {
    stroke: #70c542; }
  80%, 90% {
    stroke: #70c542; } }

.catalog-list {
  margin: 20px 0;
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-auto-flow: row dense; }

.catalog-thread-link {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .catalog-thread-link, .catalog-thread-link:hover, .catalog-thread-link:visited {
    text-decoration: none;
    color: inherit; }

.catalog-thread-image {
  margin: 0;
  text-align: center; }

.catalog-thread-stats {
  font-weight: 800;
  font-size: small;
  color: #707070; }
  .catalog-thread-stats span {
    margin-left: .5em; }

.catalog-thread-replies:before {
  content: '💬 '; }

.catalog-thread-attachments:before {
  content: '📎 '; }

.catalog-thread-created:before {
  content: '📆 '; }

.catalog-thread-subject {
  font-weight: 800; }

.catalog-mode {
  text-align: center;
  padding: 2px;
  width: 100%; }

body {
  font-family: sans-serif;
  box-sizing: border-box;
  min-height: 100vh;
  margin: 0;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto 1fr auto;
  grid-template-areas: "header" "main" "footer"; }

body.layout-sidebar {
  grid-template-columns: 20vw 1fr;
  grid-template-areas: "sidebar header" "sidebar main" "sidebar footer"; }
  body.layout-sidebar header, body.layout-sidebar footer, body.layout-sidebar main {
    padding: 0 1.5rem; }

.board-header {
  display: flex; }
  .board-header .board-header-content {
    margin: 0 auto; }

.nothreads {
  font-size: 5em;
  text-align: center;
  opacity: 0.5; }

aside {
  grid-area: sidebar;
  position: fixed;
  width: 20vw;
  height: 100vh;
  overflow: auto;
  box-sizing: border-box;
  padding: 0.5rem; }

.list-group {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0 -1.5rem; }

.list-group-item {
  padding: .5rem 1.25rem;
  border: 1px solid transparent; }

main {
  grid-area: main; }

.logo {
  display: block;
  text-align: center; }
  .logo img {
    max-width: 100%; }

header {
  grid-area: header; }

footer {
  grid-area: footer; }

main, footer, header {
  padding: 1vh 1vw; }

aside {
  border-right: 1px solid transparent;
  overflow-x: hidden;
  overflow-y: scroll; }

table.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 1rem;
  border-collapse: collapse; }
  table.table td, table.table th {
    padding: 0.75rem; }
  table.table thead tr {
    border-bottom: 2px solid grey; }
  table.table tbody tr, table.table tfoot tr {
    border-bottom: 1px solid grey; }

.form-group {
  display: grid;
  grid-template-columns: 12rem auto 1fr; }
  .form-group :target {
    outline: 2px solid red; }
  .form-group label {
    text-align: right;
    align-self: center;
    padding: .75rem; }
  .form-group input {
    align-self: center; }
  .form-group small {
    align-self: center;
    padding: .75rem; }
  .form-group textarea {
    grid-column-start: 2;
    grid-column-end: 4; }
  .form-group textarea + small {
    grid-column-start: 2;
    grid-column-end: 4; }

.error {
  padding: .75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: .25rem; }

.error {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb; }

.replymode, .page-title {
  text-align: center;
  padding: 2px;
  width: 100%; }

.thread-container {
  border-bottom: 1px solid;
  padding: 5px 0 15px 0;
  overflow: hidden; }
  .thread-container:after {
    content: ' ';
    display: block;
    clear: left; }

.section-wrapper:before {
  content: '['; }

.section-wrapper:after {
  content: ']'; }

.section-wrapper .link-wrapper:not(:last-child):after {
  content: '/'; }

.section-wrapper a {
  margin: 0 .5em; }

.link-button-wrapper:before {
  content: '['; }

.link-button-wrapper:after {
  content: ']'; }

.filetitle {
  font-weight: 800;
  font-size: 1.2em; }

.text-center {
  text-align: center; }

.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

.hidden {
  display: none; }

q::before, q::after {
  content: ''; }

.adminbar {
  text-align: right; }

.post-hidden .post-body,
.post-hidden .attachment,
.post-hidden .post-btn:not(.post-btn-hide) {
  display: none; }

.post-hidden ~ .omittedposts, .post-hidden ~ .replies-container {
  display: none; }

.modal-open {
  overflow: hidden; }

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9999;
  visibility: hidden;
  overflow: hidden;
  display: flex;
  outline: 0;
  justify-content: center; }
  .modal-open .modal {
    overflow-x: hidden;
    overflow-y: auto; }

.modal.show {
  visibility: visible; }

.modal-dialog {
  min-width: 35vw;
  max-height: 100vh;
  position: relative;
  width: auto;
  margin: 40px;
  pointer-events: none;
  align-self: center;
  transition: transform .3s ease-out, opacity .3s ease-out, visibility .3s; }
  .modal.fade .modal-dialog {
    transform: translate(0, -25%);
    opacity: 0; }
  .modal.show .modal-dialog {
    transform: translate(0, 0);
    opacity: 1; }

.modal-dialog-centered {
  display: flex;
  align-items: center;
  min-height: calc(100% - (40px * 2)); }

.modal-content {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-clip: padding-box;
  border: 1px solid #e9ecef;
  border-radius: 5px;
  box-shadow: 6px 6px 15px 1px rgba(0, 0, 0, 0.75);
  outline: 0;
  background-color: white; }

.modal-header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 1rem;
  border-bottom: 1px solid #e9ecef; }
  .modal-header h1, .modal-header h2, .modal-header h3, .modal-header h4, .modal-header h5 {
    margin: 0; }
  .modal-header .close {
    padding: 1rem;
    margin: -1rem -1rem -1rem auto; }

.modal-title {
  margin: 0; }

.modal-body {
  position: relative;
  flex: 1 1 auto;
  padding: 1rem; }

.modal-footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 1rem;
  border-top: 1px solid #e9ecef; }
  .modal-footer > :not(:first-child) {
    margin-left: .25rem; }
  .modal-footer > :not(:last-child) {
    margin-right: .25rem; }

.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  background-color: black;
  visibility: hidden;
  transition: opacity .15s linear, visibility .15s; }
  .modal-backdrop.fade {
    opacity: 0; }
  .modal-backdrop.show {
    opacity: .9;
    visibility: visible; }

.tabs-container {
  /* :last-child works, but for some reason .tab-content:last-child will not */ }
  .tabs-container .tab-content:target ~ .tab-content:last-child, .tabs-container .tab-content {
    display: none; }
  .tabs-container > :last-child, .tabs-container .tab-content:target {
    display: block; }

.news-entry {
  margin: 1rem 3rem; }
  .news-entry .news-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-weight: bold; }

/*# sourceMappingURL=global.css.map */
