:root {
  --background-color: #6b7b8d;
  --border-color: #fff;
  --primary-color: #49525d;
  --secondary-color: #fff;
  --text-color: #fff;
  --header-color: #fff;
  --name-color: #fff;
  --subject-color: #c3e8f3;
  --quote-color: #b5bd68;
  --omitted-posts-color: #070707;
  --postblock-color: #49525d;
  --postblock-background-color: #8c9fb4;
  --link-color: #eee;
  --link-color-hover: #afb9c5;
  --spoiler-color: #000;
  --spoiler-bg: #000;
  --spoiler-open-color: #fff;
  --spoiler-open-bg: #000;
  --board-link-color: #eee;
  --board-link-background: #afb9c5;
  --page-title-color: #fff;
  --page-title-background-color: #49525d;  
  --input-border-color: #aaa;
  --input-text-color: #000;
  --input-background: #fff;
  --post-conter-color: #fff;
  --post-border-radius: 5px;
}


.post_reply {
  border: none;
}

.post__header__name {
  font-weight: bold;
}

.form-label {
  font-weight: bold;
}
