:root {
  --background-color: #ffffee;
  --border-color: #d9bfb7;
  --primary-color: #f0e0d6;
  --secondary-color: #d9bfb7;
  --text-color: #800000;
  --header-color: #800000;
  --name-color: #117743;
  --subject-color: #cc1105;
  --quote-color: #789922;
  --omitted-posts-color: #707070;
  --postblock-color: #800000;
  --postblock-background-color: #eeaa88;
  --link-color: #0000ee;
  --link-color-hover: #dd0000;
  --spoiler-color: #000;
  --spoiler-bg: #000;
  --spoiler-open-color: #fff;
  --spoiler-open-bg: #000;
  --board-link-color: #800000;
  --board-link-background: #f0e0d6;
  --page-title-color: #ffffff;
  --page-title-background-color: #e04000;  
  --input-border-color: #aaaaaa;
  --input-text-color: inherit;
  --input-background: inherit;
}


.post_reply {
  border: none;
}

.post__header__name {
  font-weight: bold;
}

.form-label {
  font-weight: bold;
}
