:root {
  --background-color: #FFFFEE;
  --border-color: #D0AB65;
  --primary-color: #FFECB2;
  --secondary-color: #F9E0A8;
  --tab-border-radius: 5px;
  --text-color: #090E00;
  --header-color: #800000;
  --name-color: #310000;
  --subject-color: #CC1105;
  --quote-color: #789922;
  --omitted-posts-color: #707070;
  --postblock-color: #403C0F;
  --postblock-background-color: #F1C984;
  --link-color: #DD0000;
  --link-color-hover: #0000EE;
  --spoiler-color: #000;
  --spoiler-bg: #000;
  --spoiler-open-color: #fff;
  --spoiler-open-bg: #000;
  --page-title-color: #FFFFFF;
  --page-title-background-color: #D0AB65;  
  --input-border-color: #aaaaaa;
  --input-text-color: inherit;
  --input-background: inherit;

  --tab-padding: 5px;
  --container-padding: 1.5rem;
  --container-undo-padding-margin: -1.5rem;
  --sidebar-width: 20vw;
  --post-block-prefix: '>>';
  --post-counter-prefix: '#';
  --adminbar-spacing: .3rem;

  --modal-dialog-margin: 40px;
  --modal-footer-border-width: 1px;
  --modal-footer-border-color: #e9ecef;
  --modal-header-border-width: 1px;
  --modal-header-border-color: #e9ecef;
  --modal-content-border-width: 1px;
  --modal-content-border-color: #e9ecef;
  --modal-header-padding: 1rem;
  --modal-inner-padding: 1rem;
  --modal-border-radius: 5px;

  --spinner-color: #70c542;
}


@import './components/layout';
@import './components/fonts.scss';
@import './components/icons';
@import './components/attachments';
@import './components/media_print';
@import './components/posts';
@import './components/formatting';
@import './components/postform';
@import './components/spinner';
@import './components/catalog';
@import './components/adminbar';
@import './components/modal';
@import './components/dialog';
@import './components/admin-panel';
@import './components/tabs';

.reflink a {
  color: inherit;
  text-decoration: none;
}

.reflink a:hover {
  color: #800000;
}


body {
  color: var(--text-color);
  background-color: var(--background-color);
}

aside {
  border-color: var(--border-color);
  background-color: var(--background-color);
}

a {
  color: var(--link-color);
  outline: none !important;

  &:hover {
    color: var(--link-color-hover);
  }
}

h1, h2, h3, h4, h5, th {
  color: var(--header-color);
}


table.table {
  thead tr {
    border-color: var(--border-color);
  }

  tbody tr, tfoot tr {
    border-color: var(--border-color);
  }
}

.news-header {
  background: var(--border-color);
}

.catalog-thread-stats {
  color: var(--omitted-posts-color);
}

.catalog-thread-subject {
  color: var(--subject-color);
}

.replymode, .catalog-mode, .page-title {
  background: var(--page-title-background-color);
  color: var(--page-title-color);
}

.board-header {
  display: flex;

  .board-header-content {
    margin: 0 auto;
  }
}

.nothreads {
  font-size: 5em;
  text-align: center;
  opacity: 0.5;
}

.list-group {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0 -1.5rem;
}

.list-group-item {
  padding: .5rem 1.25rem;
  border: 1px solid transparent;
}

.logo {
  display: block;
  text-align: center;

  img {
    max-width: 100%;
  }
}

table.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 1rem;
  border-collapse: collapse;

  td, th {
    padding: 0.75rem;
  }

  thead tr {
    border-bottom: 2px solid grey;
  }

  tbody tr, tfoot tr {
    border-bottom: 1px solid grey;
  }
}

.form-group {
  display: grid;
  grid-template-columns: 12rem auto 1fr;

  :target {
    outline: 2px solid red;
  }

  label {
    text-align: right;
    align-self: center;
    padding: .75rem;
  }

  input {
    align-self: center;
  }

  small {
    align-self: center;
    padding: .75rem;
  }

  textarea {
    grid-column-start: 2;
    grid-column-end: 4;
  }

  textarea + small {
    grid-column-start: 2;
    grid-column-end: 4;
  }
}

.error {
  padding: .75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: .25rem;
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}

.replymode, .page-title {
  text-align: center;
  padding: 2px;
  width: 100%;
}

.thread-container {
  border-bottom: 1px solid var(--border-color);
  padding: 5px 0 15px 0;
  overflow: hidden;  // zalgo protection

  &:after {
    content: ' ';
    display: block;
    clear: left;
  }
}


.section-wrapper {
  &:before {
    content: '[';
  }

  &:after {
    content: ']';
  }

  .link-wrapper:not(:last-child) {
    &:after {
      content: '/';
    }
  }

  a {
    margin: 0 .5em;
  }
}

.link-button-wrapper {
    &:before {
    content: '[';
  }

  &:after {
    content: ']';
  }
}

.filetitle {
  font-weight: 800;
  font-size: 1.2em;
}

.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}

.hidden {
  display: none;
}

q {
  &::before, &::after {
    content: '';
  }
}


// news on front page
.news-entry {
  .news-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-weight: bold;
  }

  margin: 1rem 3rem;
}


.userdelete {
  float: right;
  text-align: center;
  white-space: nowrap;
}
