:root {
  --background-color: #ffffee;
  --border-color: #d0ab65;
  --primary-color: #ffecb2;
  --secondary-color: #f9e0a8;
  --text-color: #090e00;
  --header-color: #800000;
  --name-color: #310000;
  --subject-color: #cc1105;
  --quote-color: #789922;
  --omitted-posts-color: #707070;
  --postblock-color: #403c0f;
  --postblock-background-color: #f1c984;
  --link-color: #dd0000;
  --link-color-hover: #0000ee;
  --spoiler-color: #000;
  --spoiler-bg: #000;
  --spoiler-open-color: #fff;
  --spoiler-open-bg: #000;
  --board-link-color: #550;
  --board-link-background: #fec;
  --page-title-color: #fff;
  --page-title-background-color: #d0ab65;  
  --input-border-color: #aaa;
  --input-text-color: #000;
  --input-background: #fff;
  --post-conter-color: #707070;

  --border-width: 1px;
  --post-border-radius: 0;
  --tab-border-radius: 5px;
  --tab-padding: 5px;
  --container-padding: 1.5rem;
  --container-undo-padding-margin: -1.5rem;
  --sidebar-width: 20vw;
  --post-block-prefix: '>>';
  --post-counter-prefix: '#';
  --adminbar-spacing: .3rem;

  --modal-dialog-margin: 40px;
  --modal-border-width: 1px;
  --modal-header-padding: 1rem;
  --modal-inner-padding: 1rem;
  --modal-border-radius: 5px;

  --spinner-color: #70c542;

  --semantic-color-primary-text: #fff;
  --semantic-color-primary-background: #007bff;
  --semantic-color-secondary-text: #fff;
  --semantic-color-secondary-background: #6c757d;
  --semantic-color-success-text: #fff;
  --semantic-color-success-background: #28a745;
  --semantic-color-danger-text: #fff;
  --semantic-color-danger-background: #dc3545;
  --semantic-color-warning-text: #212529;
  --semantic-color-warning-background: #ffc107;
  --semantic-color-info-text: #fff;
  --semantic-color-info-background: #17a2b8;
  --semantic-color-light-text: #212529;
  --semantic-color-light-background: #f8f9fa;
  --semantic-color-dark-text: #fff;
  --semantic-color-dark-background: #343a40;
}


@import './components/layout';
@import './components/fonts.scss';
@import './components/icons';
@import './components/attachments';
@import './components/media_print';
@import './components/posts';
@import './components/formatting';
@import './components/postform';
@import './components/spinner';
@import './components/form';
@import './components/catalog';
@import './components/adminbar';
@import './components/modal';
@import './components/dialog';
@import './components/admin-panel';
@import './components/tabs';
@import './components/table';
@import './components/badge';
@import './components/message';
@import './components/list';
@import './components/news';
@import './components/sidebar';
@import './components/buttons';

body {
  color: var(--text-color);
  background-color: var(--background-color);
  // needed for correct positioning of popups
  position: relative;
}

a {
  color: var(--link-color);
  outline: none !important;

  &:hover {
    color: var(--link-color-hover);
  }
}

a.link_long {
  word-break: break-all;
}

.highlight {
  font-weight: bold;
}

h1, h2, h3, h4, h5, th {
  color: var(--header-color);
}

hr {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid var(--border-color);
}

.page-title {
  background: var(--page-title-background-color);
  color: var(--page-title-color);
  text-align: center;
  padding: 2px;
  width: 100%;
}

.board-header {
  display: flex;

  .board-header__content {
    margin: 0 auto;
  }
}

.no-content-placeholder {
  font-size: 5em;
  text-align: center;
  opacity: 0.5;
}

.logo {
  display: block;
  text-align: center;

  img {
    max-width: 100%;
  }
}

.thread-container {
  border-bottom: 1px solid var(--border-color);
  padding: 5px 0 15px 0;
  overflow: hidden;  // zalgo protection

  &:after {
    content: ' ';
    display: block;
    clear: left;
  }
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.flex-center {
  justify-content: center;
}

.hidden {
  display: none;
}
