:root {
  --background-color: #eeffee;
  --border-color: #8dde8d;
  --primary-color: #daf0d6;
  --secondary-color: #8dde8d;
  --text-color: #000000;
  --header-color: #117743;
  --name-color: #117743;
  --subject-color: #0f5d0c;
  --quote-color: #117743;
  --omitted-posts-color: #070707;
  --postblock-color: #000000;
  --postblock-background-color: #88dd88;
  --link-color: #345c34;
  --link-color-hover: #117743;
  --spoiler-color: #000;
  --spoiler-bg: #000;
  --spoiler-open-color: #fff;
  --spoiler-open-bg: #000;
  --board-link-color: #117743;
  --board-link-background: #daf0d6;
  --page-title-color: #000000;
  --page-title-background-color: #daf0d6;  
  --input-border-color: #aaa;
  --input-text-color: #000;
  --input-background: #fff;
}


.post_reply {
  border: none;
}

.post__header__name {
  font-weight: bold;
}

.form-label {
  font-weight: bold;
}
