:root {
  --background-color: #ffffee;
  --border-color: #d0ab65;
  --primary-color: #ffecb2;
  --secondary-color: #f9e0a8;
  --tab-border-radius: 5px;
  --text-color: #090e00;
  --header-color: #800000;
  --name-color: #310000;
  --subject-color: #cc1105;
  --quote-color: #789922;
  --omitted-posts-color: #707070;
  --postblock-color: #403c0f;
  --postblock-background-color: #f1c984;
  --link-color: #dd0000;
  --link-color-hover: #0000ee;
  --spoiler-color: #000;
  --spoiler-bg: #000;
  --spoiler-open-color: #fff;
  --spoiler-open-bg: #000;
  --page-title-color: #ffffff;
  --page-title-background-color: #d0ab65;  
}

.reply {
  border-width: 1px;
  border-style: solid;
}

.form-label {
  font-weight: 800;
}
