div.admin-panel.fixed-bottom
  div.column
    button.js-select-all-items#select-all-btn(type='button') Select All
    button.js-deselect-all-items#deselect-all-btn(type='button') Deselect All
  div.column
    button.js-set-attachment-flag#set-deleted-flag-btn(type='submit', name='isDeleted', value='true') Delete
    button.js-set-attachment-flag#reset-deleted-flag-btn(type='submit', name='isDeleted', value='false') Restore
  div.column
    button.js-set-attachment-flag#set-spoiler-flag-btn(type='submit', name='isSpoiler', value='true') Set Spoiler
    button.js-set-attachment-flag#reset-spoiler-flag-btn(type='submit', name='isSpoiler', value='false') Unset Spoiler
  div.column
    button.js-set-attachment-flag#set-nsfw-flag-btn(type='submit', name='isNSFW', value='true') Set NSFW
    button.js-set-attachment-flag#reset-nsfw-flag-btn(type='submit', name='isNSFW', value='false') Unset NSFW
