@media print {
  .post__buttons, input, .postarea, .button, .page-title, nav,
  .file-info, .userdelete, .pagelist, .clickreplytoview {
    display: none !important;
  }

  .reply-container {
    clear: both;
  }

  .reply-container::before {
    display: none;
  }

  .post__body {
    margin: 0.3rem;
  }

  .post {
    width: 100%;
    border: none !important;
  }

  .post-header {
    font-size: 0.7rem;
  }

  .admin-form {
    column-count: 2;
  }
}
