block bodyClass
  -
    var bodyClass = '';
    var headAttributes = {};
doctype html
html(lang=lang)&attributes(headAttributes)
  include ../includes/head.pug
  body.layout-default(class=bodyClass)
    header
      block header
    main
      block main
    footer
      block footer
      include ../includes/footer.pug
    block modals
    include ../includes/scripts.pug
