extends default.pug

block append attributes
  -
    bodyClass['layout-default'] = false;
    bodyClass['layout-navigator'] = true;

block navigation
  div.menu-container
    include ../includes/menubar.pug
    div.markdown.panel.panel_left.hidden
      include ../includes/navpanel.pug
    div.markdown.panel.panel_right.hidden
      include ../includes/controlpanel.pug
