extends default.pug

block append attributes
  -
    bodyClass['layout-default'] = false;
    bodyClass['layout-sidebar'] = true;

block aftermain
  aside.markdown.sidebar.sidebar_left
    block aside
