extends layouts/default.pug
include mixins/pagination.pug

block bodyClass
  - var bodyClass = 'board-page'
  - var headAttributes = { 'data-board': board && board.uri }

block header
  include includes/boardheader.pug

block main
  div#postbox.postarea.postarea_top
    span.button.button_link
      a.js-toggle-postform(href='#') Create thread
    include includes/postform.pug

  form#delform.admin-form(action='/form/delpost', method='post')
    if !threads.length
      div.no-content-placeholder Nobody Here but Us Chickens
    for thread in threads
      != thread
    include includes/delpostform.pug

  div#postbox_bottom.postarea.postarea_bottom
    span.button.button_link
      a.js-toggle-postform(href='#') Create thread

block footer
  +pagination(pagination.current, pagination.pages)
  include includes/boardfooter.pug

block scripts
  script(src='/.static/js/kotoba.js')
