extends layouts/navigator.pug
include mixins/pagination.pug

block append attributes
  -
    bodyClass['board-page'] = true;
    htmlAttributes['data-board'] = board && board.uri;
    htmlAttributes['data-postcount'] = board && board.postcount;

block header
  include includes/boardheader.pug

block main
  div#postbox.postarea.postarea_top
    span.button.button_link
      a.js-toggle-postform(href='#') Create thread
    include includes/postform.pug

  form#delform.admin-form(action='/form/delpost', method='post')
    if !threads.length
      div.no-content-placeholder Nobody Here but Us Chickens
    for thread in threads
      != thread
    include includes/delpostform.pug

  div#postbox_bottom.postarea.postarea_bottom
    span.button.button_link
      a.js-toggle-postform(href='#') Create thread

block footer
  +pagination(pagination)
  include includes/boardfooter.pug

block scripts
  script(src='/.static/js/kotoba.js')
