extends layouts/sidebar.pug

block header
  h1.text-center= site.siteName
  h3.text-center
    em= site.slogan

block main
  nav.tab-menu.flex-center
    span.button-group
      span.button.button_link
        a.js-select-tab.active(href='#news') News
      span.button.button_link
        a.js-select-tab(href='#faq') FAQ
      span.button.button_link
        a.js-select-tab(href='#rules') Rules
  div#rules.tabs__content!= filters.markdown(site.rules)
  div#faq.tabs__content!= filters.markdown(site.faq)
  div#news.tabs__content.show
    if news
      for n in news
        include includes/newsentry.pug

  //- debug data
  //- pre= JSON.stringify(site, null, 2)

block aside
  != filters.markdown(site.frame)

block scripts
  script(src='/.static/js/kotoba.js')
