.adminbar {
  text-align: right;

  p, ul {
    display: inline-flex;
    padding: 0;
    margin: 0;
  }

  .menu > .button-group, .menu > .button_link {
    margin-left: var(--adminbar-spacing);
  }

  .menu_additional,
  .menu_site {
    ul {
      display: inline-flex;
      list-style: none;
      align-items: baseline;
      margin: 0 0 0 var(--adminbar-spacing);
      padding: 0;
      white-space: nowrap;

      &::before {
        content: '[';
        margin-right: var(--adminbar-spacing);
      }

      &::after {
        content: ']';
        margin-left: var(--adminbar-spacing);
      }

      li:not(:last-child) {
        &:after {
          content: '/';
          margin: 0 var(--adminbar-spacing);
        }
      }

      li {
        display: inline-flex;
      }
    }    
  }
}
