.admin-panel {
  display: none;
  &.show {
    display: block;
  }

  position: sticky;
  bottom: 0;
  margin-left: var(--container-undo-padding-margin);
  margin-right: var(--container-undo-padding-margin);

  .tab-menu {
    padding-left: var(--container-padding);
    padding-right: var(--container-padding);
  }

  .tabs__content {
    padding: var(--container-padding);
    border-top: 1px solid var(--border-color);
    background-color: var(--background-color);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  button {
    text-align: start;
  }
}
