.adminbar {
  text-align: right;
}

.adminbar .menu {
  p {
    display: inline;
    padding: 0;
    margin: 0;
  }

  ul {
    display: inline-flex;
    list-style: none;
    align-items: baseline;
    margin: 0 0 0 var(--adminbar-spacing);
    padding: 0;

    &::before {
      content: '[';
      margin-right: var(--adminbar-spacing);
    }

    &::after {
      content: ']';
      margin-left: var(--adminbar-spacing);
    }

    li:not(:last-child) {
      &:after {
        content: '/';
        margin: 0 var(--adminbar-spacing);
      }
    }

    li {
      display: inline-flex;
    }
  }

  .menu-link {
    margin-left: var(--adminbar-spacing);

    &:before {
      content: '[';
    }

    &:after {
      content: ']';
    }
  }
}
