.attachment {
  margin: 0;
}

input.checkbox_hidden {
  display: none;
}

input.checkbox_hidden:checked + .thumbnail__image-container::after {
  content: '✔';
  background: rgba(255, 255, 255, 0.8);
  position: absolute;
  top: 0;
  bottom: 4px;
  left: 0;
  vertical-align: middle;
  color: deepskyblue;
  font-size: 50px;
  right: 0;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

.attachments-container {
  display: flex;
  flex-wrap: wrap;
  padding-left: 20px;

  .thumbnail__image-container {
    margin-left: 0;
  }

  .video-container {
    padding-left: 0;
  }

  .attachment_video_playing {
    .thumbnail::before {
      margin-left: 0;
    }
  }

  input.checkbox_hidden:checked + .thumbnail__image-container::after {
    left: 0;
  }

  .attachment__header {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 0;
  }

  .file__info {
    display: inline-block;
  }
}

.post .thumbnail__image-container {
  float: left;
}

.thumbnail__image-container {
  margin: 2px 20px;
  position: relative;
  overflow: hidden;
}

.attachment_deleted {
  .thumbnail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
  }

  .thumbnail__image-container {
    height: 5vw;
    width: 5vw;
    min-width: 100px;
    min-height: 100px;
  }

  .thumbnail__placeholder {
    border: 3px dashed;
    text-align: center;
    user-select: none;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  input.checkbox_hidden:checked + .thumbnail__image-container::after {
    bottom: -4px;
  }
}

.attachment_spoiler .thumbnail__image {
  filter: blur(8px);
  opacity: .5;
  transition: filter .5s, opacity .5s;

  &:hover {
    opacity: 1;
    filter: none;
  }
}

$pixelationFilter: url("data:image/svg+xml,\
  <svg xmlns='http://www.w3.org/2000/svg'>\
    <filter id='b' x='0' y='0'>\
      <feFlood x='4' y='4' height='2' width='2'/>\
      <feComposite width='10' height='10'/>\
      <feTile result='a'/>\
      <feComposite in='SourceGraphic' in2='a' operator='in'/>\
      <feMorphology operator='dilate' radius='5'/>\
    </filter>\
  </svg>\
  #b");


$pixelationFilterBig: url("data:image/svg+xml,\
  <svg xmlns='http://www.w3.org/2000/svg'>\
    <filter id='b' x='0' y='0'>\
      <feFlood x='4' y='4' height='2' width='2'/>\
      <feComposite width='16' height='16'/>\
      <feTile result='a'/>\
      <feComposite in='SourceGraphic' in2='a' operator='in'/>\
      <feMorphology operator='dilate' radius='8'/>\
    </filter>\
  </svg>\
  #b");


.attachment_nsfw .thumbnail__image {
  filter: $pixelationFilterBig;
  transition: filter 1s;

  &:hover {
    filter: none;
  }
}

.attachment_video_playing {
  .thumbnail__image-container {
    display: none;
  }

  .thumbnail::before {
    content: '[close]';
    margin-left: 20px;
    display: block;
  }
}

.video-container {
  padding: 2px 20px;
}

.thumbnail__image, .video-player {
  max-width: 100%;
  height: auto;
}

.thumbnail__image[src*="/src/"] {
  height: auto;
}


.attachment__header {
  display: inline;
  font-size: 10px;
  font-family: sans-serif;
  margin-left: 20px;

  &::after {
    content: ' ';
    display: block;
    clear: left;
  }
}


.attachment__badges {
  position: absolute;
  right: 5px;
  left: 5px;
  bottom: 10px;
  text-align: right;

  div {
    margin-left: .2rem;
  }
}


.file__info__duration {
  color: #fff;
  background: rgba(0,0,0,0.8);
  font-family: sans-serif;
  font-size: 12px;
  padding: 2px;
  border-radius: 2px;
  display: inline-block;
}
