.attachment {
  margin: 0;
}

input.checkbox-hidden {
  display: none;
}

input.checkbox-hidden:checked + .thumb-container::after {
  content: '✔';
  background: rgba(255, 255, 255, 0.8);
  position: absolute;
  top: 2px;
  bottom: 6px;
  left: 20px;
  vertical-align: middle;
  color: deepskyblue;
  font-size: 50px;
  right: 20px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

.attachments-container {
  display: flex;
  flex-wrap: wrap;
  padding-left: 20px;

  .thumb-container {
    padding-left: 0;
  }

  .video-player {
    padding-left: 0;
  }

  .attachment_video_playing {
    .thumb-link::before {
      margin-left: 0;
    }
  }

  input.checkbox-hidden:checked + .thumb-container::after {
    left: 0;
  }

  .filesize {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 0;
  }

  .file-info {
    display: inline-block;
  }
}

.post .thumb-container{
  float: left;
}

.thumb-container {
  padding: 2px 20px;
  position: relative;
}


.attachment_video_playing {
  .thumb-container {
    display: none;
  }

  .thumb-link::before {
    content: '[close]';
    margin-left: 20px;
    display: block;
  }
}

.video-player {
  padding: 2px 20px;
}

.thumb, .video-player {
  max-width: 100%;
  height: auto;
}

.thumb[src*="/src/"] {
  height: auto;
}


.filesize {
  display: inline;
  font-size: 10px;
  font-family: sans-serif;
  margin-left: 20px;

  &::after {
    content: ' ';
    display: block;
    clear: left;
  }
}


.file-info-duration {
  position: absolute;
  right: 25px;
  bottom: 10px;
  color: #fff;
  background: rgba(0,0,0,0.8);
  font-family: sans-serif;
  font-size: 12px;
  padding: 2px;
  border-radius: 2px;
}


.catalog-thread-image.deleted {
  border: 2px solid red;
}
