@font-face {
  font-family: 'Mona';
  src: local('Mona'), url('/.static/fonts/Mona.eot');
  src: url('/.static/fonts/Mona.eot?#iefix') format('embedded-opentype'),
    url('/.static/fonts/mona.ttf')  format('truetype'),
    url('/.static/fonts/Mona.woff2') format('woff2'),
    url('/.static/fonts/Mona.woff') format('woff'),
    url('/.static/fonts/Mona.svg#Mona') format('svg');
  font-weight: normal;
  font-style: normal;
}
