@font-face {
  font-family: 'Mona';
  font-weight: normal;
  font-style: normal;
  src:
    local('Mona'),
    url('/.static/fonts/Mona.eot');
  src:
    url('/.static/fonts/Mona.eot?#iefix') format('embedded-opentype'),
    url('/.static/fonts/mona.ttf')  format('truetype'),
    url('/.static/fonts/Mona.woff2') format('woff2'),
    url('/.static/fonts/Mona.woff') format('woff'),
    url('/.static/fonts/Mona.svg#Mona') format('svg');
}


@font-face {
  font-family: system;
  font-style: normal;
  font-weight: normal;
  src:
    local(".SFNSText-Light"),
    local(".HelveticaNeueDeskInterface-Light"),
    local(".LucidaGrandeUI"),
    local("Ubuntu Light"),
    local("Segoe UI Light"),
    local("Roboto-Light"),
    local("DroidSans"),
    local("Tahoma");
}

@font-face {
  font-family: ui;
  font-style: normal;
  font-weight: normal;
  src:
    local(".SFNSText"),
    local(".HelveticaNeueDeskInterface"),
    local(".LucidaGrandeUI"),
    local("Ubuntu"),
    local("Segoe UI"),
    local("Roboto"),
    local("DroidSans"),
    local("Tahoma");
}

@font-face {
  font-family: aesthetic;
  font-style: normal;
  font-weight: normal;
  src:
    local(".SFNSText-Thin"),
    local(".HelveticaNeueDeskInterface-Thin"),
    local(".LucidaGrandeUI"),
    local("Ubuntu Thin"),
    local("Segoe UI Thin"),
    local("Roboto-Thin"),
    local("DroidSans"),
    local("Tahoma");
}
