.input-group {
  display: flex;
  align-items: baseline;
  input {
    min-width: 0;
    flex-grow: 1;
  }
}

.form_inline {
  .form-group {
    display: inline-block;
  }
}

.form-group {
  display: grid;
  grid-template-columns: 12rem auto 1fr;
  grid-column-gap: .5em;

  :target {
    outline: 2px solid red;
  }

  label {
    text-align: right;
    align-self: center;
    padding: .75rem;
  }

  input {
    align-self: center;
  }

  small {
    align-self: center;
    padding: .75rem;
    text-align: left;
  }

  button,
  select {
    align-self: center;
  }
}

.form-group_compact {
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;

  label {
    grid-column: 1/3;
    text-align: left;
  }
}

.form-group_checkbox {
  label {
    grid-column-end: 1;
  }

  input[type="checkbox"], input[type="number"] {
    grid-column-start: 2;
    grid-column-end: 2;
    justify-self: end;
  }
}

form {
  text-align: left;
  
  .form-group {
    display: grid;
    grid-template-columns: 12rem auto 1fr;

    textarea {
      grid-column-start: 2;
      grid-column-end: 4;
    }

    textarea + small {
      grid-column-start: 2;
      grid-column-end: 4;
    }
  }

  .form-group_checkbox {
    label {
      grid-column-end: auto;
    }
  }
}

.input_disabled {
  cursor: not-allowed;
}


@media (max-width: 1000px) {
  form {
    .form-group {
      grid-template-columns: auto;

      & + .form-group {
        border-top: 1px solid var(--border-color);
      }

      label {
        text-align: left;
      }

      input, select, textarea {
        margin-left: .75rem;
      }

      input[type="checkbox"], input[type="number"] {
        grid-column-start: 2;
        grid-column-end: 2;
        justify-self: end;

        & + small {
          grid-column-start: 1;
          grid-column-end: 3;
          padding-top: 0;
        }
      }

      textarea {
        grid-column-start: 1;
        grid-column-end: 4;
      }

      textarea + small {
        grid-column-start: 1;
        grid-column-end: 4;
      }
    }
  }
}
