q {
  &::before, &::after {
    content: '';
  }
}

/* No idea why it's called unkfunc, this is greentext */
.unkfunc {
  color: var(--quote-color);
}

.spoiler {
  color: var(--spoiler-color);
  background-color: var(--spoiler-bg);

  &:hover {
    color: var(--spoiler-open-color);
    background-color: var(--spoiler-open-bg);
  }
}

.code-multiline, .code-aa {
  white-space: pre-wrap;
}

/* ShiftJIS-art formatting */
.code-aa {
  font-family: 'Mona', 'Ume P Gothic', 'MS PGothic', "ＭＳ Ｐゴシック", sans-serif;
  display: block;
  font-size: 12pt;
  line-height: 1.1;
  overflow: auto;
}

/* Bells and whistles */
@keyframes rainbold {
  0% {
    color: red;
    text-shadow: -1px 0px orange, -2px 0px yellow, -3px 0px green, -4px 0px blue, -5px 0px indigo, -6px 0px violet;
  }
  14% {
    color: orange;
    text-shadow: -1px 0px yellow, -2px 0px green, -3px 0px blue, -4px 0px indigo, -5px 0px violet, -6px 0px red;
  }
  28% {
    color: yellow;
    text-shadow: -1px 0px green, -2px 0px blue, -3px 0px indigo, -4px 0px violet, -5px 0px red, -6px 0px orange;
  }
  43% {
    color: green;
    text-shadow: -1px 0px blue, -2px 0px indigo, -3px 0px violet, -4px 0px red, -5px 0px orange, -6px 0px yellow;
  }
  57% {
    color: blue;
    text-shadow: -1px 0px indigo, -2px 0px violet, -3px 0px red, -4px 0px orange, -5px 0px yellow, -6px 0px green;
  }
  71% {
    color: indigo;
    text-shadow: -1px 0px violet, -2px 0px red, -3px 0px orange, -4px 0px yellow, -5px 0px green, -6px 0px blue;
  }
  85% {
    color: violet;
    text-shadow: -1px 0px red, -2px 0px orange, -3px 0px yellow, -4px 0px green, -5px 0px blue, -6px 0px indigo;
  }
  100% {
    color: red;
    text-shadow: -1px 0px orange, -2px 0px yellow, -3px 0px green, -4px 0px blue, -5px 0px indigo, -6px 0px violet;
  }
}

.cow {
  animation: rainbold 1s linear infinite;
  color: red;
  font-size: 1.5em;
  letter-spacing: 0.33em;
  margin-left: 6px;
  text-shadow: -1px 0px orange, -2px 0px yellow, -3px 0px green, -4px 0px blue, -5px 0px indigo, -6px 0px violet;
}
