.icon {
  display: inline-block;
  fill: currentColor;
  vertical-align: top;
}

@mixin icon_size($size) {
  width: $size;
  height: $size;

  svg {
    width: $size;
    height: $size;
  }
}

.icon_extrasmall {
  @include icon_size(10px);
}

.icon_small {
  @include icon_size(16px);
}

.icon_medium {
  @include icon_size(32px);
}

.icon_large {
  @include icon_size(48px);
}

.icon_extralarge {
  @include icon_size(64px);
}
