.list {
  .list__separator {
    margin-top: 1rem;
    border-bottom: 1px solid var(--border-color);
  }
}


.list_grouped {
  margin: 0;
  padding: 0;
  list-style: none;

  .list__separator {
    padding-bottom: 0;
    font-weight: bold
  }

  .list__item {
    padding: .5rem 1.25rem;
    border: 1px solid transparent;
  }
}


.list_unmarked {
  list-style: none;
  padding-left: 1rem;
}


.list_inline {
  margin: 0;
  padding: 0;
  list-style: none;

  .list__item {
    display: inline;

    & + .list__item::before {
      content: ', ';
    }
  }

  .list__separator {
    display: inline;
    border: none;
    margin: 0;
  }

  .list__separator::before {
    content: ' | ';
  }
}


.list_nav {
  display: inline-flex;
  list-style: none;
  align-items: center;
  padding: 0;
  white-space: nowrap;

  &::before {
    content: '[';
    margin-right: var(--adminbar-spacing);
  }

  &::after {
    content: ']';
    margin-left: var(--adminbar-spacing);
  }

  li:not(:last-child) {
    &:after {
      content: '/';
      margin: 0 var(--adminbar-spacing);
    }
  }

  li {
    display: inline-flex;
    align-items: center;
  }
}


.list_buttons {
  display: inline-flex;
  list-style: none;
  align-items: center;
  padding: 0;
  margin: 0;
  white-space: nowrap;

  li::before {
    content: '[';
  }

  li::after {
    content: ']';
  }

  li {
    display: inline-flex;
    align-items: center;
    margin-right: .5rem;
  }
}
