.list {
  .list__separator {
    margin-top: 1rem;
    border-bottom: 1px solid var(--border-color);
  }
}


.list_grouped {
  margin: 0;
  padding: 0;
  list-style: none;

  .list__separator {
    padding-bottom: 0;
    font-weight: bold
  }

  .list__item {
    padding: .5rem 1.25rem;
    border: 1px solid transparent;
  }
}


.list_unmarked {
  list-style: none;
  padding-left: 1rem;
}


.list_inline {
  margin: 0;
  padding: 0;
  list-style: none;

  .list__item {
    display: inline;

    &:not(:first-child)::before {
      content: ', ';
    }
  }

  .list__separator::before {
    display: ' | ';
  }
}
