.message {
  display: inline-block;
  border: 1px solid transparent;
  padding: .75rem 1.25rem;
  text-align: center;
  vertical-align: baseline;
  border-radius: .25rem;
}

.message_primary {
  background-color: var(--semantic-color-primary-text);
  color: var(--semantic-color-primary-background);
  border-color: var(--semantic-color-primary-background);
  svg {
    fill: var(--semantic-color-primary-text);
  }
}
.message_secondary {
  background-color: var(--semantic-color-secondary-text);
  color: var(--semantic-color-secondary-background);
  border-color: var(--semantic-color-secondary-background);
  svg {
    fill: var(--semantic-color-secondary-text);
  }
}
.message_success {
  background-color: var(--semantic-color-success-text);
  color: var(--semantic-color-success-background);
  border-color: var(--semantic-color-success-background);
  svg {
    fill: var(--semantic-color-success-text);
  }
}
.message_danger {
  background-color: var(--semantic-color-danger-text);
  color: var(--semantic-color-danger-background);
  border-color: var(--semantic-color-danger-background);
  svg {
    fill: var(--semantic-color-danger-text);
  }
}
.message_warning {
  background-color: var(--semantic-color-warning-text);
  color: var(--semantic-color-warning-background);
  border-color: var(--semantic-color-warning-background);
  svg {
    fill: var(--semantic-color-warning-text);
  }
}
.message_info {
  background-color: var(--semantic-color-info-text);
  color: var(--semantic-color-info-background);
  border-color: var(--semantic-color-info-background);
  svg {
    fill: var(--semantic-color-info-text);
  }
}
.message_light {
  background-color: var(--semantic-color-light-text);
  color: var(--semantic-color-light-background);
  border-color: var(--semantic-color-light-background);
  svg {
    fill: var(--semantic-color-light-text);
  }
}
.message_dark {
  background-color: var(--semantic-color-dark-text);
  color: var(--semantic-color-dark-background);
  border-color: var(--semantic-color-dark-background);
  svg {
    fill: var(--semantic-color-dark-text);
  }
}
