/**
 * News on front page
 */

.news-entry {
  margin: 1rem 3rem;
}

.news-entry:target {
  outline: 2px solid red;
}

.news__header {
  background: var(--postblock-background-color);
  color: var(--postblock-color);
  padding: 0 1rem;
}

.news__subject, .news__author {
  font-weight: bold;
}

.news__link {
  float: right;
}
