.reply {
  background-color: var(--primary-color);
  border-color: var(--secondary-color);
}

.postername {
  color: var(--name-color);
}

.thread-container, .postarea {
  border-color: var(--border-color);
}

.filetitle {
  color: var(--subject-color);
}

.postblock {
  color: var(--postblock-color);
  background-color: var(--postblock-background-color);
}

.omittedposts {
  color: var(--omitted-posts-color);
}

.postbody {
  word-wrap: break-word;
}

.reply .extrabtns::after {
  content: var(--post-counter-prefix)counter(thr-cnt);
  counter-increment: thr-cnt 1;
  color: #707070;
  margin-left: 10px;
  font-size: 13px;
}

.reply-container {
  margin-top: 4px;
  display: flex;
  flex-direction: row;

  .reply {
    min-width: 380px;
  }

  &::before {
    content: var(--post-block-prefix);
    margin-right: 4px;
  }
}

.reply, .board-page, .thread-page {
  .post-board-link {
    display: none;
  }
}

.post-board-link {
  &::before {
    content: '/';
  }

  &::after {
    content: '/';
  }

  margin: 0 3px 0 3px;
}

.post-delete-checkbox {
  margin: 0 3px 0 3px;
}


.reflink-op::after {
  content: ' (OP)';
}

/* post footer */
.post-footer {
  margin: 10px 4px 4px 4px;
  font-size: 75%;
  font-style: italic;
}

.post-replies::before {
  content: 'Replies: ';
}

.post-references::before {
  content: 'References: ';
}

.inline-list {
  margin: 0;
  padding: 0;
}

.inline-list-item {
  display: inline;

  &:not(:first-child)::before {
    content: ', ';
  }
}

/* hidden posts */
.post-hidden {
  .post-body,
  .post-footer,
  .attachment,
  .post-btn:not(.post-btn-hide) {
    display: none;
  }

  & ~ .omittedposts, & ~ .replies-container {
    display: none;
  }
}
