.postform, .delform {
  .trap {
    display:none;
  }
  input[type=text], input[type=password], textarea {
    margin: 0px;
    margin-right: 2px;
    padding: 2px 4px 3px 4px;
    outline: none;
    font-size: 10pt;
  }

  input[type="text"], input[type="password"], textarea {
    border: 1px solid var(--input-border-color);
    color: var(--input-text-color);
    background: var(--input-background);
  }
}

.postarea {
  text-align: center;
  border-bottom:1px solid var(--border-color);
  padding-top: 4px;
  padding-bottom: 4px;
  margin-bottom: 4px;
}

.postform__rules {
  font-size: 0.6rem;
  ul {
    margin: 0;
    padding: 0;
  }
  li {
    margin-left: 1em;
  }
}

.postblock {
  color: var(--postblock-color);
  background-color: var(--postblock-background-color);
}


.postarea_quick-reply {
  .postform__row.postform__rules {
    display: none;
  }

  border-style: solid;
  border-width: var(--border-width);
  border-radius: var(--post-border-radius);
  background-color: var(--primary-color);
  border-color: var(--secondary-color);
  padding: 3px;

  .postarea__header {
    margin-bottom: 3px;
  }
}

.postarea__header {
  background: var(--page-title-background-color);
  color: var(--page-title-color);
  text-align: center;
  padding: 2px;
  font-weight: bold;
}

.postarea__header__buttons {
  float: right;

  a, a:hover {
    color: var(--page-title-color);
  }
}

.captcha-image {
  vertical-align: middle;
}


.postform {
  &.postform_no-upload {
    .postform__upload {
      display: none;
    }
  }

  &.postform_no-captcha {
    .postform__captcha {
      display: none;
    }
  }

  &.postform_no-sage {
    .postform__sage {
      display: none;
    }
  }

  &.postform_forced-anon {
    .postform__email,
    .postform__postername {
      display: none;
    }
  }

  &.postform_reply.postform_no-subject {
    .postform__row.postform__subject {
      display: none;
    }

    .postform__row .postform__submit_bottom {
      text-align: right;
      display: block;
    }

    .postform__row .postform__submit_subject {
      display: none;
    }
  }

  .postform__row .postform__submit_bottom {
    display: none;
  }
}


.postarea_top, .postarea_bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
}

// todo: change this to using subgrid when it's implemented in most browsers;
.postform {
  display: grid;
  grid-template-columns: auto;
  grid-column-gap: 2px;
  grid-row-gap: 2px;

  .postform__row {
    display: grid;
    grid-template-columns: 6rem auto;
    grid-column-gap: 2px;
    grid-row-gap: 2px;
  }

  .postform__rules {
    grid-template-columns: auto;
    text-align: left;
  }

  .postform__row__label {
    color: var(--postblock-color);
    background-color: var(--postblock-background-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2px;
  }

  .postform__row__inputs,
  .postform__row__label {
    text-align: left;
  }
}
