////////////////////////////////////////////////////////////////////////////////
// Post header
////////////////////////////////////////////////////////////////////////////////


.post__header__name {
  color: var(--name-color);
}

.post__header__subject {
  color: var(--subject-color);
  font-weight: bold;
  font-size: 1.2rem;
}

.post__header__number {
  a {
    color: inherit;
    text-decoration: none;
  }

  a:hover {
    color: var(--header-color);
  }
}

.board-page, .thread-page {
  .post__header__board {
    display: none;
  }
}

.post__header__board {
  &::before {
    content: '/';
  }

  &::after {
    content: '/';
  }

  margin: 0 3px 0 3px;
}

.post__header__checkbox {
  margin: 0 3px 0 3px;
}

.post__badges,
.post__buttons {
  vertical-align: middle;
  margin: 0 0.3rem;

  & > :not(:first-child) {
    margin-left: 0.2rem;
  }

  &:empty {
    display: none;
  }

  display: inline-flex;
}

.post__badge {
  cursor: help;
  border-radius: 3px;
  padding: 2px;
  width: 16px;
  height: 16px;
  display: inline-block;
}

.post__badge_closed,
.post__badge_deleted,
.post__badge_autosage {
  background: var(--semantic-color-danger-background);
  svg {
    fill: var(--semantic-color-danger-text);
  }
}

.post__badge_sticky {
  background: var(--semantic-color-primary-background);
  svg {
    fill: var(--semantic-color-primary-text);
  }
}

.post__badge_sage {
  background: var(--semantic-color-dark-background);
  svg {
    fill: var(--semantic-color-dark-text);
  }
}

.post__button {
  cursor: pointer;
  border-radius: 3px;
  padding: 2px;
  width: 16px;
  height: 16px;
  display: inline-block;

  fill: var(--post-buttons-color);
  color: var(--post-buttons-color);

  &:hover svg {
    fill: var(--post-buttons-color-hover);
    color: var(--post-buttons-color-hover);
  }
}

.post__button_hide {
  .icon_plus {
    display: none;
  }
}

.post_hidden .post__button_hide {
  .icon_minus {
    display: none;
  }

  .icon_plus {
    display: block;
  }
}

.post_reply .post__header::after {
  content: var(--post-counter-prefix)counter(thr-cnt);
  counter-increment: thr-cnt 1;
  color: var(--post-counter-color);
  margin-left: 10px;
  font-size: 13px;
}


////////////////////////////////////////////////////////////////////////////////
// Post/thread body
////////////////////////////////////////////////////////////////////////////////


.omittedposts {
  color: var(--omitted-posts-color);
}

.post__body {
  word-wrap: break-word;
}

.post_reply {
  border-style: solid;
  border-width: var(--border-width);
  border-radius: var(--post-border-radius);
  background-color: var(--primary-color);
  border-color: var(--secondary-color);
  padding: 3px;
}

.thread-container, .postarea {
  border-color: var(--border-color);
}

.post_reply:target {
  box-shadow: 0 0 3px 1px var(--semantic-color-primary-background);
}

.reply-container {
  margin-top: 4px;
  display: flex;
  flex-direction: row;

  .post_reply {
    min-width: 380px;
  }

  .post_op {
    flex-grow: 1;
  }

  &::before {
    content: var(--post-block-prefix);
    margin-right: 4px;
  }
}

.reflink-op::after {
  content: ' (OP)';
}

/* hidden posts */
.board-page .post_op.post_hidden,
.board-page .post_reply.post_hidden,
.thread-page .post_reply.post_hidden {
  .post__body,
  .post__footer,
  .attachment,
  .post__button:not(.post__button_hide) {
    display: none;
  }

  & ~ .omittedposts, & ~ .replies-container {
    display: none;
  }
}


////////////////////////////////////////////////////////////////////////////////
// Post footer
////////////////////////////////////////////////////////////////////////////////


.post__footer {
  margin: 10px 4px 4px 4px;
  font-size: 75%;
  font-style: italic;
}

.post__footer__replies::before {
  content: 'Replies: ';
}

.post__footer__references::before {
  content: 'References: ';
}


////////////////////////////////////////////////////////////////////////////////
// Post popup
////////////////////////////////////////////////////////////////////////////////


.popups-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  pointer-events: none;
  max-width: 100vw;
  z-index: 10;
}

.popup {
  position: absolute;
  pointer-events: auto;
}

.popup .post {
  display: inline-block;
  border-style: solid;
  border-width: 1px;
  background-color: var(--primary-color);
  border-color: var(--secondary-color);
  box-shadow: 1px 0px 4px 2px rgba(0,0,0,.5);
}

.popup_tail .post {
  animation: popup-fade 1s;
}

.popup_loaded {
  animation: popup-appear .2s;
}

@keyframes popup-fade {
  0%   { opacity: 1;  }
  20%  { opacity: .7; }
  80%  { opacity: .7; }
  100% { opacity: 0;  }
}

@keyframes popup-appear {
  from { transform: scale(.4); }
  to   { transform: scale(1);  }
}


////////////////////////////////////////////////////////////////////////////////
// Dummy posts
////////////////////////////////////////////////////////////////////////////////

.example {
  .post__header a {
    cursor: not-allowed;
  }

  .post__header__board {
    display: none;
  }

  position: sticky;
  bottom: 0;
  max-height: 40vh;
  overflow-x: auto;
  background: var(--background-color);
  border-top: 1px solid var(--border-color);
}
