.postform, .delform {
  .trap {
    display:none;
  }
  input[type=text], input[type=password], textarea {
    margin: 0px;
    margin-right: 2px;
    padding: 2px 4px 3px 4px;
    outline: none;
    font-size: 10pt;
  }

  input[type="text"], input[type="password"], textarea {
    border: 1px solid var(--input-border-color);
    color: var(--input-text-color);
    background: var(--input-background);
  }
}

.postarea {
  text-align: center;
  border-bottom:1px solid var(--border-color);
  padding-top: 4px;
  padding-bottom: 4px;
  margin-bottom: 4px;
}

.postarea table {
  margin: 0 auto;
  text-align: left;
}

.rules {
  font-size: 0.6rem;
  ul {
    margin: 0;
    padding: 0;
  }
  li {
    margin-left: 1em;
  }
}

.postblock {
  color: var(--postblock-color);
  background-color: var(--postblock-background-color);
}


.postarea_quick-reply {
  .rules {
    display: none;
  }

  border-style: solid;
  border-width: var(--border-width);
  border-radius: var(--post-border-radius);
  background-color: var(--primary-color);
  border-color: var(--secondary-color);
  padding: 3px;
}

.postarea__header {
  background: var(--page-title-background-color);
  color: var(--page-title-color);
  text-align: center;
  padding: 2px;
  font-weight: bold;
}

.postarea__header__buttons {
  float: right;

  a, a:hover {
    color: var(--page-title-color);
  }
}

.captcha-image {
  vertical-align: middle;
}
