.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text_primary {
  color: var(--alert-color-primary-text);
}
.text_secondary {
  color: var(--alert-color-secondary-text);
}
.text_success {
  color: var(--alert-color-success-text);
}
.text_danger {
  color: var(--alert-color-danger-text);
}
.text_warning {
  color: var(--alert-color-warning-text);
}
.text_info {
  color: var(--alert-color-info-text);
}
.text_light {
  color: var(--alert-color-light-text);
}
.text_dark {
  color: var(--alert-color-dark-text);
}
