extends managepage.pug

include ../mixins/inputs.pug
include ../mixins/timestamp.pug

block main
  - var values = user

  h1 Your profile
  div
    p Your login: #[strong= user.login] #[small (login can not be chaged)]
    p Your authority: #[strong= user.authority] #[small (authority can be changed by admin)]
    p Joined: #[strong #[+date(user.addedon)]]

  h2 Profile info
  form#form-update-user(method='POST', action='/api/me')
    +textEdit('displayname', 'Name', 'This affects only the name that is shown to others. Your login stays the same. If left blank, your login will be used.')
    +textArea('contacts', 'Contacts', 'Write here your e-mail, jabber, twitter, or whatever. One per row. The one in the first row will be used as default e-mail when posting news.')
    input#btn-update-user(type='submit', value='Update profile')

  h2 Change password
  form#form-change-password(method='POST', action='/api/me/password')
    +passwordEdit('old_password', 'Old password', '', true)
    +passwordEdit('password', 'New password', '', true)
    +passwordEdit('password_confirmation', 'Confirm new password', '', true)
    input#btn-change-password(type='submit', value='Change password')

  h2 Delete account
  div Once you delete your account, there is no going back. Please be certain.
  form
    input#btn-delete-account(type='submit', value='Delete account')
