extends managepage.pug

include ../mixins/inputs.pug

block header
  h1 Site maintenance

block main
  h2 Rebuild all html files
  form#form-regenerate-all(method='POST', action='/api/regenerate', data-method='POST')
    p This action may take some time
    input(type='submit', class='btn',value='Rebuild all html files')

  h2 Cleanup
  p TO DO
