extends managepage.pug

include ../mixins/inputs.pug
include ../mixins/icons.pug
include ../mixins/modals.pug
include ../mixins/text.pug


block header
  -
    const isCreate = crud === 'create';
    const isUpdate = crud === 'update';
    const isDelete = crud === 'delete';
    const isRead   = crud === 'read';

  if isUpdate
    h1 Edit role #{ role.roleName }
  else if isRead
    h1 Roles
  else if isCreate
    h1 Create role

  nav
    ul.list.list_nav
      if !isRead
        li.list__item
          a(href='/manage/roles') All roles
      if !isCreate
        li.list__item
          a(href='/manage/roles/create') Create role


block main
  if !isRead
    include ./roles_edit.pug
  if isRead
    include ./roles_read.pug


block modals
  if isCreate
    +confirmPrompt('dialog-update-role-confirm', 'Create role', 'Create role')
      p Create new role:
      div#update-role-changes-list
    +alertPrompt('dialog-update-role-success', 'Success')
      p.text-center
        +icon('check', 'large')
      p Role was created

  if isUpdate
    +confirmPrompt('dialog-update-role-confirm', 'Update role', 'Save changes')
      p Save following changes:
      div#update-role-changes-list
    +alertPrompt('dialog-update-role-success', 'Success')
      p.text-center
        +icon('check', 'large')
      p Role was updated

  if isRead
    +confirmPrompt('dialog-delete-role-confirm', 'Delete role', 'Delete')
      p Delete role?

    +alertPrompt('dialog-delete-role-success', 'Success')
      p.text-center
        +icon('check', 'large')
      p Role was deleted
