extends managepage.pug

include ../mixins/inputs.pug
include ../mixins/modals.pug
include ../mixins/postbody.pug
include ../mixins/attachments.pug


block header
  h1 Recent uploads

block main
  form.admin-form.catalog(method='post', action='/api/attachment', data-method='patch')
    div.catalog-list
      for post in posts
        for attachment in post.attachments
          div.catalog-thread
              +reflink(post)
              figure.catalog-thread-image(data-mongo-id=attachment._id, class={
                deleted: attachment.isDeleted,
                nsfw: attachment.isNSFW,
                spoiler: attachment.isSpoiler
              })
                label
                  input.checkbox-hidden.js-select-attachment(type='checkbox', name='attachments[]', value=attachment._id)
                  div.thumb-container
                    +thumbnail(attachment)
                    if attachment.duration
                      div.file-info-duration!= filters.readableDuration(attachment.duration)
                figcaption
                  +filelink(attachment)

    include ../includes/adminpanel.pug
  //- pre= JSON.stringify(posts, null, 2)

block modals
