extends managepage.pug

include ../mixins/inputs.pug
include ../mixins/modals.pug
include ../mixins/postbody.pug
include ../mixins/attachments.pug
include ../mixins/timestamp.pug


block header
  h1 Recent uploads
  -var numEntries = posts.reduce((acc, val) => acc + val.attachments.length, 0);
  p Showing #[strong= numEntries] latest uploads.

block main
  form.admin-form.catalog(method='post', action='/api/attachment', data-method='patch')
    div.catalog__threads
      for post in posts
        if post.attachments && post.attachments.length
          for attachment, n in post.attachments
            div.catalog__thread.attachments-container
              +attachment(attachment, post, n, true)(class=['attachment_selectable'])
              +reflink(post)

    include ../includes/adminpanel.pug
  //- pre= JSON.stringify(posts, null, 2)

block modals
