extends layouts/default.pug
include mixins/pagination.pug

block bodyClass
  - var bodyClass = 'board-page'

block header
  include includes/boardheader.pug

block main
  include includes/postform.pug

  form#delform.admin-form(action='/form/delpost', method='post')
    if !threads.length
      div.nothreads Nobody Here but Us Chickens
    for thread in threads
      != thread
    include includes/delpostform.pug
    include includes/adminpanel.pug

block footer
  +pagination(pagination.current, pagination.pages)
  include includes/boardfooter.pug

block scripts
  script(src='/.static/js/kotoba.js')
