extends layouts/default.pug

block bodyClass
  - var bodyClass = 'error-page'

block header
  nav.text-right
    span.section-wrapper
      span.link-wrapper
        a(href='/') Home
  h1.text-center Kuso!

block main
  div.error #{ error.name }: #{ error.message }
  if error.stack
    pre.error= error.stack

block scripts
  script(src='/.static/js/kotoba.js')
